@import "./variables";

// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "~bootstrap/scss/bootstrap";
@import "./_card";
@import "~font-awesome/scss/font-awesome";


.modal-content {
  border-radius: 0;
  color: #222222;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #b9b7b7;
  min-height: 16.42857143px;
  background: #3fc378;
  color: #fff;
  font-weight: normal;
  border-radius: 0;
}
.modal-footer {
  margin-top: 15px;
  padding: 8px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #f3f3f3;
}
.category-column {
  width: 150px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03);
}
.table-striped thead {
  background-color: #f8f9fa;
}
.variant {
  font-size:0.8rem;
  background-color: #4a4949;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  .category-input {
    flex: 1 1 100%;
  }
}

.question {
  font-size: 0.85rem;
  border: 7px solid #68bd85;
  background-color: #f1f1f1;
  color: #888;

  + .question {
    margin-top: .5rem;
  }

  &.question-list-item {
    border: none;
    background-color: #f8f9fa;
    +.question-list-item {
      border-top: 1px solid #000000;
    }
  }
}
.question-counter {
  span {
    background: #3ba961;
    padding: 0px 7px 3px 7px;
    font-size: 0.75rem;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
  }
}
.image-url {
  max-width:100px;
  max-height:100px;
  flex: 1 1 100%;
}


.subject-name {
  color: #fff;
}
.answers-list {
  .answers-list-item {
    background: #3e3e3e;
    padding: 0.5rem 0;
    + .answers-list-item {
      margin-top: 5px;
    }
  }
}

.remove-item {
  border-radius: 50%;
  background-color: #c5c5c5;
  padding: 2px 5px;
  color: #fff;
  cursor: pointer;
}
.remove-item:hover {
  background-color: #e5001e;
}
